name: Continuous Integration

on:
  push:
    branches-ignore:
      - main
      - staging
  pull_request:

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    uses: ./.github/workflows/reusable-ci.yml
    with:
      node-version: '22'
    secrets:
      npm-token: ${{ secrets.PURE_NPM_TOKEN }}
